.heading {
    font-size: 4em;
    margin: 15px;
}
.gallariesBar {
    padding: 2em;
    .gallaryTabItem {
        font-size: 2em;
        margin: 0;
    }
    .selectedGallaryTabItem,
    .gallaryTabItem:hover {
        cursor: pointer;
        color: crimson;
        border-bottom: 3px solid crimson;
    }
}
.spinner {
    position: absolute;
    top: calc(50vh - 50px);
    z-index: 1;
}
.fullWidth {
    width: 100%;
}
.marginBottom1em {
    margin-bottom: 2em;
}
.marginBottom2em {
    margin-bottom: 2em;
}
.pointer {
    cursor: pointer;
}
a {
    color: crimson;
    font-weight: bold;
}
.height50px {
    height: 50px;
}
